*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-accent: darkslateblue;
  --clr-white: white;

  --s-base: 1rem;
  --s-border: 0.125rem;
  --s-radius-outer: 0.75rem;
  --s-radius-inner: calc(var(--s-radius-outer) / 3);
}

html {
  font-family: sans-serif;
}

body {
  margin: 2rem;
}

main {
  display: flex;
  justify-content: center;
  height: 650px;
}

article {
  border: 0.125rem solid black;
  max-width: 400px;
  margin: 2rem;
  border-radius: 0.75rem;
  padding: 1rem;
  position: relative;
}


.third-picture {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.third-picture img {
  border: 0.125rem darkslateblue;
    border-radius: 50%;
}

.container2 {
  display: flex;
}

.fourth-picture {
  border: 0.125rem darkorange;
  border-radius: 50%;
}

.image1 {
  border-radius: 0.25;
}

.preview-card1 {
  box-shadow: 0.5rem 0.5rem darkslateblue;
}

.preview-card2 {
  box-shadow: 0.5rem 0.5rem darkorange;
}

.p-grey,
div {
  color: lightgray;
}

.first-picture {
  border-radius: 0.25rem;
}

.second-picture {
  border-radius: 0.25rem;
  height: 200px;
  width: 360px;
}

.first-aside {
  background-color: darkslateblue;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.second-aside {
  background-color: darkorange;
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.third-aside,
.fourth-aside,
.fith-aside {
  background-color: deepskyblue;
  color: black;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

.third-aside {
  position: absolute;
}

.fourth-aside {
  position: absolute;
}

.fith-aside {
  position: absolute;
  left: 5rem;
}

.section-one {
  position: absolute;
  top: 18rem;
}

.section-two {
  position: absolute;
  top: 18rem;
}

.first-picture {
  border-radius: 1rem;
}
